h3{
    color: rgb(166, 0, 203);
    padding: 5px;
    box-sizing: border-box;
}
label{
    padding: 2em;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
}
input [type="text"]{
    display: block;
}
input[type="submit"]{
    margin: 15px;
    background-color: rgb(196, 133, 255);
    border: 3px solid rgb(99, 0, 152);
}
table{
    border: dashed rgb(0, 0, 0);
    background: rgb(199, 147, 255);
}
table thead tr{
    background-color: rgb(80, 33, 237);
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
table thead tr th{
    padding: 10px;
}
table tbody tr{
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
table tbody tr:nth-child(2n+1){
    background: hsl(257, 100%, 70%);
}
table tbody tr:nth-child(2n){
    background:hsl(257, 100%, 70%);;
}